[data-emoji-trigger] {
  border: 1px solid slategrey;
  border-radius: 3px;
}

[data-emoji-listbox] {
  border: 1px solid slategrey;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

[data-emoji-button],
[data-emoji-category-tab] {
  border: none;
  border-radius: 3px;
  background: none;
  padding: 2px;
}

[data-emoji-button]:hover,
[data-emoji-category-tab]:hover {
  background: gainsboro;
}

[data-emoji-category-tab] {
  line-height: 0;
  margin: 0 1px;
}

[data-emoji-button] {
  font-size: 18px;
  line-height: 1.3;
}

[data-emoji-button]::before {
  content: "";
  padding-left: 3px;
}

[data-emoji-category-tab][aria-selected="true"] {
  position: relative;
}

[data-emoji-category-tab][aria-selected="true"] {
  fill: steelblue;
}

[data-emoji-category-tab][aria-selected="true"]::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 2px solid steelblue;
  position: absolute;
  bottom: -2px;
  left: 0;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

[data-emoji-category-tablist] {
  border-bottom: 1px solid slategrey;
  display: flex;
  padding: 2px 1px;
}

[data-emoji-searchinput] {
  border: 1px solid slategrey;
  border-radius: 3px;
  margin: 4px;
  padding: 4px;
}

[data-emoji-list] {
  display: grid;
  grid-template-columns: repeat(7, 28px);
  grid-template-rows: auto;
  grid-column-gap: 3px;
  max-height: 200px;
  overflow-x: scroll;
  padding: 2px 4px;
}
